/* styling the middle contents of new game page to separate the footer from header*/
.page-wrapper{
    min-height: 100%;
    text-align: center;
    align-items: center;
}

.game-list-item blockquote {
    color: #999;
    padding: 0 10px;
}

.game-list-item img {
    max-width: 100%;
    max-height: 200px;
    margin-bottom: 10px;
}

.bg-dark{
background-color: #04204e !important;
}
.navbar-brand{
    font-weight: bold;
    font-family: monospace;
    font-size: 20px;
}
.navbar-dark .navbar-nav .nav-link{
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
}
.navbar-dark .navbar-nav .nav-item{
    margin: 0 15px;
}
h1{
    text-align: center;
}
html,body
{
    height:100%;
}

#wrap
{
    min-height: 100%;
}

#main
{
    overflow:auto;
    padding-bottom:50px; /* this needs to be bigger than footer height*/
}
.home a p {display:none;}
.home a:hover {display:block;}



